<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >

  <variable name="appName" value="UrlShortener" />
  
  <extensions>
  </extensions>
  
  <targets>
    <target xsi:type="File"
            name="file"
            fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
            keepFileOpen="false"
            archiveFileName="${specialfolder:ApplicationData}\${appName}\Debug_${shortdate}.{##}.log"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="30" />

    <target xsi:type="Trace"
               name="trace"
              layout="${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}" />

  </targets>

  <rules>
    <logger name="*" writeTo="file" minlevel="Debug" />
    <logger name="*" writeTo="trace" minlevel="Trace" />
  </rules>
</nlog>